/* >1200 px Desktops */

@media (max-width: 1330px) {
  html {
    font-size: 0.6rem;
  }

  .email-capture__box__content__form__email-input__button {
    transform: translate(-8rem, 1rem);
  }

  .partner__box__content__img-box {
    gap: 9rem;
  }

  .partner__box__content__img-box__img {
    max-width: 60%;
  }
}

@media (max-width: 1174px) {
  html {
    font-size: 0.5rem;
  }

  .email-capture__box__content__form__email-input__button {
    transform: translate(-8rem, 1.3rem);
  }

  .partner__box__content__img-box {
    gap: 6.5rem;
  }

  .partner__box__content__img-box__img {
    max-width: 20%;
  }
}

@media (max-width: 989px) {
  html {
    font-size: 0.45rem;
  }

  .email-capture__box__content__form__email-input__button {
    transform: translate(-8rem, 1.5rem);
  }

  .partner__box__content__img-box {
    gap: 6rem;
  }

  .partner__box__content__img-box__img {
    max-width: 20%;
  }
}

@media (max-width: 889px) {
  html {
    font-size: 0.4rem;
  }

  .email-capture__box__content__form__email-input__button {
    transform: translate(-8rem, 1.8rem);
  }
}

/* 900px - 1199px  Tablets Horizontals */

@media (max-width: 810px) {
  html {
    font-size: 0.37rem;
  }

  .email-capture__box__content__form__email-input__button {
    transform: translate(-8rem, 2.1rem);
  }
}

@media (max-width: 750px) {
  html {
    font-size: 0.33rem;
  }

  .email-capture__box__content__form__email-input__button {
    transform: translate(-8rem, 2.3rem);
  }
}

@media (max-width: 705px) {
  html {
    font-size: 0.32rem;
  }

  .email-capture__box__content__form__email-input__button {
    transform: translate(-8rem, 3rem);
  }
}

@media (max-width: 641px) {
  html {
    font-size: 0.29rem;
  }

  .email-capture__box__content__form__email-input__button {
    transform: translate(-8rem, 3rem);
  }
}

@media (max-width: 601px) {
  .header__visibility {
    display: flex;
  }

  html {
    font-size: 0.5rem;
  }

  .header__contact-bar {
    display: none;
  }

  .header__nav {
    display: none;
  }

  .banner__content {
    flex-direction: column;
    max-width: 80%;
  }

  .banner__content__slider {
    order: -1;
    margin: 0 auto;
  }

  .customer-services {
    max-width: 80%;
  }

  .customer-services__info-box {
    display: grid;
    grid-template-columns: 1fr;
  }

  .email-capture__box__content {
    flex-direction: column;
  }

  .email-capture__box__content__form__email-input {
    width: 50rem;
  }

  .email-capture__box__content__form__email-input__button {
    transform: translate(-8rem, 1.3rem);
  }
}
/* 600px - 899px Tablets Verticle */

/* 300px - 599px Phones */
