/* >1200 px Desktops */

@media (max-width: 1439px) {
  .contact-us__centers__box__customer-center__box {
    padding: 1rem 3rem 0px 2rem;
  }
}

@media (max-width: 1355px) {
  .customer-services__info-box__1__headline__title,
  .customer-services__info-box__2__headline__title,
  .customer-services__info-box__3__headline__title,
  .customer-services__info-box__4__headline__title {
    font-size: 2.5rem;
  }
}

@media (max-width: 1319px) {
  .contact-us__centers__box__customer-center__box__text-group__title {
    font-size: 2.2rem;
  }

  .header__nav__navbar__link--shown:link {
    font-size: 1.5rem;
  }

  .header__nav__navbar__navdropdown__btn__link--shown {
    font-size: 1.5rem;
  }

  .contact-us {
    grid-template-columns: 1.4fr 1fr;
  }
}

@media (max-width: 1263px) {
  .header__nav__logo {
    width: 25%;
  }
}

/* 900px - 1199px  Tablets Horizontals */

@media (max-width: 1199px) {
  html {
    font-size: 0.5rem;
  }

  .header__nav__navbar__link--shown {
    padding: 0.5rem 0rem;
  }

  .header__nav__navbar__navdropdown__btn {
    padding: 0.5rem 0rem;
  }
}

@media (max-width: 937px) {
}
/* 600px - 899px Tablets Verticle */

/* 300px - 599px Phones */
