*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  height: 900vh; }

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  font-style: normal; }

.header {
  width: 77%;
  margin: 0 auto;
  margin-bottom: 3rem; }
  .header__contact-bar {
    display: flex;
    justify-content: right;
    gap: 1.2rem;
    padding-top: 0.7rem;
    margin-bottom: 1rem;
    font-size: 1.7rem; }
    .header__contact-bar > * {
      cursor: pointer; }
      .header__contact-bar > *:link {
        color: #716d6e;
        text-decoration: none;
        font-weight: 800; }
  .header__nav {
    display: grid;
    grid-template-columns: 1fr 2fr; }
    .header__nav__logo {
      max-width: 100%;
      height: auto;
      cursor: pointer; }
    .header__nav__navbar {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 2rem; }
      .header__nav__navbar__link--shown:link, .header__nav__navbar__link--shown:visited {
        display: inline-block;
        text-decoration: none;
        padding: 0.5rem 1.5rem;
        font-size: 1.7rem;
        color: #716d6e;
        font-weight: bold; }
      .header__nav__navbar__link--shown:hover {
        background-color: #dbdbdb;
        transition: all 0.5s ease; }
      .header__nav__navbar__navdropdown {
        position: relative; }
        .header__nav__navbar__navdropdown:hover {
          background-color: #dbdbdb;
          transition: all 0.5s ease; }
        .header__nav__navbar__navdropdown:hover .header__nav__navbar__navdropdown__list {
          opacity: 1;
          max-height: auto;
          transform: translateY(0%);
          transition: all 0.3s ease-in-out;
          pointer-events: auto; }
        .header__nav__navbar__navdropdown__btn {
          display: flex;
          align-items: center;
          gap: 0.4rem;
          padding: 0.5rem 1.5rem;
          font-size: 1.7rem;
          cursor: pointer; }
          .header__nav__navbar__navdropdown__btn__link--shown:link, .header__nav__navbar__navdropdown__btn__link--shown:visited {
            display: inline-block;
            text-decoration: none;
            color: #716d6e;
            font-size: 1.6rem;
            font-weight: bold; }
          .header__nav__navbar__navdropdown__btn__link--shown:focus {
            outline: none; }
        .header__nav__navbar__navdropdown__list {
          opacity: 0;
          max-height: 0;
          flex-direction: column;
          position: absolute;
          right: 0;
          transform: translateY(1.5em);
          z-index: 99;
          pointer-events: none; }
          .header__nav__navbar__navdropdown__list__link--hidden {
            width: 20rem;
            display: inline-block;
            text-decoration: none;
            color: #716d6e;
            font-size: 1.6rem;
            padding: 1rem 2rem 1rem 2rem;
            border-style: solid;
            border-width: 0 0 1px;
            border-color: #00000012;
            background-color: #ffffff; }
            .header__nav__navbar__navdropdown__list__link--hidden:first-child {
              border-top: solid 0.5rem #e7e7e7; }
            .header__nav__navbar__navdropdown__list__link--hidden:last-child {
              border-bottom: solid 0.5rem #e7e7e7; }
            .header__nav__navbar__navdropdown__list__link--hidden:hover, .header__nav__navbar__navdropdown__list__link--hidden:focus {
              background-color: #f5f5f5;
              transition: all 0.5s ease; }

.banner {
  margin: 0 auto;
  background-color: #fec417;
  padding: 6rem 0;
  position: relative; }
  .banner::after {
    content: "";
    position: absolute;
    bottom: -33px;
    /* Adjust the position */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 3.5rem solid transparent;
    border-right: 3.5rem solid transparent;
    border-top: 3.5rem solid #fec417;
    /* Same color as the container */ }
  .banner__content {
    margin: 0 auto;
    display: grid;
    width: 77%;
    grid-template-columns: 1fr 1fr;
    gap: 4rem; }
    .banner__content__reservation__form {
      padding: 4.5rem 3.5rem 4.5rem 3.5rem;
      background-color: white;
      box-shadow: 0 0.9rem 0 0 #fff, 0 -0.9rem 0 0 #fff, 0.7rem 0 1.5rem -0.4rem rgba(0, 0, 0, 0.3), -0.7rem 0 1.5rem -0.4rem rgba(0, 0, 0, 0.3); }
      .banner__content__reservation__form__error-message {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.2rem 2rem;
        background-color: #f8d7da;
        border: 0.1rem solid #f5c6cb;
        border-radius: 0.5rem;
        margin-bottom: 1.5rem; }
        .banner__content__reservation__form__error-message__text {
          color: #721c24;
          font-size: 1.4rem;
          font-weight: 700; }
        .banner__content__reservation__form__error-message__icon {
          color: #777777;
          font-size: 2rem;
          font-weight: 700;
          --ionicon-stroke-width: 9rem; }
          .banner__content__reservation__form__error-message__icon:hover {
            color: #000000; }
      .banner__content__reservation__form__select-car-type {
        padding: 0.9rem 4rem 0.9rem 1rem;
        color: #565656;
        margin-bottom: 2rem;
        font-size: 2.4rem;
        font-weight: 700;
        border: 0.2rem solid #efe9e9;
        appearance: none;
        width: 100%;
        background-image: url(../../img/Home/dropdown-icon.png);
        background-repeat: no-repeat;
        background-position: right 2rem center;
        cursor: pointer;
        outline: none; }
      .banner__content__reservation__form__pick-up-location {
        display: flex;
        margin-bottom: 2rem; }
        .banner__content__reservation__form__pick-up-location__label {
          padding: 1.3rem 1.95rem 1.3rem 1.2rem;
          align-items: center;
          font-size: 1.6rem;
          background-color: #efe9e9;
          white-space: nowrap;
          font-weight: 700;
          color: #716d6e;
          box-sizing: border-box;
          display: inline-flex; }
          .banner__content__reservation__form__pick-up-location__label__icon {
            font-size: 2rem; }
        .banner__content__reservation__form__pick-up-location__select {
          display: block;
          outline: none;
          background-image: url(../../img/Home/dropdown-icon.png);
          background-repeat: no-repeat;
          background-position: right 2rem center;
          appearance: none;
          cursor: pointer;
          border: 0.2rem solid #efe9e9;
          font-size: 1.5rem;
          padding-left: 1rem;
          width: 100%; }
      .banner__content__reservation__form__drop-off-location {
        display: flex;
        margin-bottom: 3rem; }
        .banner__content__reservation__form__drop-off-location__label {
          padding: 1.3rem 1.2rem;
          display: flex;
          align-items: center;
          font-size: 1.6rem;
          background-color: #efe9e9;
          white-space: nowrap;
          font-weight: 700;
          color: #716d6e;
          box-sizing: border-box; }
          .banner__content__reservation__form__drop-off-location__label__icon {
            font-size: 2rem; }
        .banner__content__reservation__form__drop-off-location__select {
          display: block;
          outline: none;
          background-image: url(../../img/Home/dropdown-icon.png);
          background-repeat: no-repeat;
          background-position: right 2rem center;
          appearance: none;
          cursor: pointer;
          border: 0.2rem solid #efe9e9;
          font-size: 1.5rem;
          padding-left: 1rem;
          width: 100%; }
      .banner__content__reservation__form__pick-up-date {
        display: flex;
        gap: 2rem;
        margin-bottom: 2rem; }
        .banner__content__reservation__form__pick-up-date__day {
          display: flex; }
          .banner__content__reservation__form__pick-up-date__day__label {
            display: flex;
            align-items: center;
            padding: 0.8rem 1.6rem;
            background-color: #efe9e9;
            font-weight: 700;
            font-size: 1.6rem;
            color: #716d6e;
            display: inline-flex;
            gap: 0.2rem;
            white-space: nowrap; }
            .banner__content__reservation__form__pick-up-date__day__label__icon {
              font-size: 2rem; }
          .banner__content__reservation__form__pick-up-date__day__selector {
            border-radius: 0;
            font-size: 1.6rem;
            padding: 0.4rem 0.4rem 0.4rem 1.5rem;
            border: 0.2rem solid #efe9e9;
            background-color: #fff;
            color: #ffbf00;
            padding-left: 1rem;
            width: 100%;
            cursor: pointer;
            outline: none;
            font-weight: 600;
            letter-spacing: -0.1rem; }
        .banner__content__reservation__form__pick-up-date__time-slot {
          padding: 1rem 4rem 1rem 1rem;
          outline: none;
          background-image: url(../../img/Home/dropdown-icon.png);
          background-repeat: no-repeat;
          background-position: right 2rem center;
          appearance: none;
          border: 0.2rem solid #efe9e9;
          width: 100%;
          font-size: 1.5rem;
          color: #ffbf00;
          cursor: pointer;
          font-weight: 600; }
      .banner__content__reservation__form__drop-off-date {
        display: flex;
        gap: 2rem;
        margin-bottom: 4rem; }
        .banner__content__reservation__form__drop-off-date__day {
          display: flex; }
          .banner__content__reservation__form__drop-off-date__day__label {
            display: flex;
            align-items: center;
            padding: 0.8rem 1.2rem;
            background-color: #efe9e9;
            font-weight: 700;
            font-size: 1.6rem;
            color: #716d6e;
            display: inline-flex;
            gap: 0.2rem;
            white-space: nowrap; }
            .banner__content__reservation__form__drop-off-date__day__label__icon {
              font-size: 2rem; }
          .banner__content__reservation__form__drop-off-date__day__selector {
            border-radius: 0;
            font-size: 1.6rem;
            padding: 0.4rem 0.4rem 0.4rem 1.5rem;
            border: 0.2rem solid #efe9e9;
            background-color: #fff;
            color: #ffbf00;
            padding-left: 1rem;
            width: 100%;
            cursor: pointer;
            outline: none;
            font-weight: 600;
            letter-spacing: -0.1rem; }
        .banner__content__reservation__form__drop-off-date__time-slot {
          padding: 1rem 4rem 1rem 1rem;
          outline: none;
          background-image: url(../../img/Home/dropdown-icon.png);
          background-repeat: no-repeat;
          background-position: right 2rem center;
          appearance: none;
          border: 0.2rem solid #efe9e9;
          width: 100%;
          font-size: 1.5rem;
          color: #ffbf00;
          cursor: pointer;
          font-weight: 600; }
      .banner__content__reservation__form__submit {
        background-color: #ffbf00;
        color: #fff;
        padding: 0.6rem 1.5rem;
        box-shadow: 0.6rem 0.6rem 0 #efe9e9;
        transition: 0.2s;
        border-radius: 0;
        border: none;
        width: 100%;
        font-size: 2.4rem;
        line-height: 1.75em;
        font-weight: bold;
        cursor: pointer; }
      .banner__content__reservation__form__submit:hover {
        background-color: #716d6e; }
    .banner__content__slider__slide__1__title {
      font-size: 3.6rem;
      font-weight: 900;
      color: #fff;
      line-height: 4.5rem; }
    .banner__content__slider__slide__1__sub-title {
      font-size: 2.4rem;
      color: #565656;
      font-weight: 400;
      line-height: 4rem;
      margin-bottom: 3rem; }
    .banner__content__slider__icons {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 2rem; }
      .banner__content__slider__icons__left-icon, .banner__content__slider__icons__right-icon {
        display: inline-block;
        font-size: 5rem;
        color: #ffffffe6; }

.customer-services {
  margin: 0 auto;
  width: 77%;
  padding: 11.5rem 0rem 8rem; }
  .customer-services__top-box {
    margin: 0 auto;
    margin-bottom: 4rem; }
    .customer-services__top-box__title {
      font-size: 4.6rem;
      font-weight: 900;
      color: #716d6e;
      text-align: center; }
    .customer-services__top-box__sub-title {
      font-size: 2rem;
      font-weight: 700;
      color: #716d6e;
      text-align: center;
      margin-bottom: 1.5rem; }
    .customer-services__top-box__divider {
      border: none;
      height: 0.5rem;
      background-color: #fec417;
      width: 40%;
      text-align: center;
      display: block;
      margin: 0 auto; }
  .customer-services__info-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem; }
    .customer-services__info-box__1, .customer-services__info-box__2, .customer-services__info-box__3, .customer-services__info-box__4 {
      background-color: #ededed;
      padding: 3rem 2rem 5.5rem 3rem; }
      .customer-services__info-box__1__headline, .customer-services__info-box__2__headline, .customer-services__info-box__3__headline, .customer-services__info-box__4__headline {
        display: flex;
        gap: 1.6rem;
        margin-bottom: 2rem; }
        .customer-services__info-box__1__headline__icon, .customer-services__info-box__2__headline__icon, .customer-services__info-box__3__headline__icon, .customer-services__info-box__4__headline__icon {
          font-size: 3rem;
          background: #fec417;
          padding: 1rem;
          color: white; }
        .customer-services__info-box__1__headline__title, .customer-services__info-box__2__headline__title, .customer-services__info-box__3__headline__title, .customer-services__info-box__4__headline__title {
          font-size: 3rem;
          font-weight: 900;
          color: #716d6e; }
      .customer-services__info-box__1__text, .customer-services__info-box__2__text, .customer-services__info-box__3__text, .customer-services__info-box__4__text {
        font-size: 1.8rem;
        color: #716d6e; }

.email-capture__box {
  background-color: #fec417; }
  .email-capture__box__content {
    display: grid;
    grid-template-columns: 1fr 1fr 0.7fr;
    align-items: center;
    padding: 10rem 4rem 6rem 4rem; }
    .email-capture__box__content__title-box__title {
      font-size: 3rem;
      font-weight: 900;
      color: white; }
    .email-capture__box__content__title-box__sub-title {
      color: #716d6e;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3em; }
    .email-capture__box__content__form__email-input {
      padding: 17px 15px 14px;
      font-size: 1.4rem;
      font-weight: 400;
      border-radius: 0 0 0 0;
      border-style: solid;
      border-width: 0.1rem;
      width: 100%;
      border-color: transparent;
      position: relative; }
      .email-capture__box__content__form__email-input__button {
        padding: 0.4rem 1rem;
        border-style: solid;
        border-width: 0.2rem;
        border-color: #b8b6b6;
        color: #716d6e;
        background-color: #fff;
        font-size: 18px;
        font-weight: 700;
        position: absolute;
        transform: translate(-8rem, 0.9rem);
        z-index: 100; }
        .email-capture__box__content__form__email-input__button:hover {
          background-color: #716d6e;
          color: white; }
  .email-capture__box__icons {
    display: flex;
    gap: 1.5rem;
    justify-content: end; }
    .email-capture__box__icons__icons-box__twitter {
      font-size: 3.5rem;
      color: white;
      background-color: #36a4cf;
      padding: 1rem 1.5rem; }
    .email-capture__box__icons__icons-box__dribble {
      font-size: 3.5rem;
      color: white;
      background-color: #ee636e;
      padding: 1rem 1.5rem; }
    .email-capture__box__icons__icons-box__facebook {
      font-size: 3.5rem;
      color: white;
      background-color: #4b8298;
      padding: 1rem 1.5rem; }
