// Colors

// Home
$home-color-1: #721c24;
$home-color-2: #f8d7da;
$home-color-3: #f5c6cb;
$home-color-4: #9b9294;
$home-color-5: #716d6e;
$home-color-6: #ea4c89;
$home-color-7: #0044cc;
$home-color-8: #212529;
$home-color-9: #495057;
$home-color--10: #1e73be;
$home-color--11: #6ec1e4;
$home-color--12: #36a4cf;
$home-color--13: #303131;
$home-color--14: #fec417;
$home-color--15: #cc9900;
$home-color--16: #ffe599;
$home-color--17: #ff0000;
$home-color--18: #efe9e9;
$home-color--19: #b8b6b6;
$home-color--20: #000000;
$home-color--21: #101010;
$home-color--22: #1a1a1a;
$home-color--23: #333333;
$home-color--24: #555555;
$home-color--25: #565656;
$home-color--26: #767676;
$home-color--27: #777777;
$home-color--28: #999999;
$home-color--29: #9c9c9c;
$home-color--30: #cccccc;
$home-color--31: #dbdbdb;
$home-color--32: #e3e2e2;
$home-color--33: #e7e7e7;
$home-color--34: #eaeaea;
$home-color--35: #ededed;
$home-color--36: #eeeeee;
$home-color--37: #f5f5f5;
$home-color--38: #f9f9f9;
$home-color--39: #fafafa;
$home-color--40: #ffffff;
$home-color--41: #00000012;
