.banner {
  margin: 0 auto;
  background-color: $home-color--14;
  padding: 5rem 0;

  &__content {
    margin: 0 auto;
    display: grid;
    width: 77%;
    grid-template-columns: 1fr 1fr;

    &__reservation {
      &__form {
        padding: 4.5rem 3.5rem 4.5rem 3.5rem;
        background-color: white;
        margin: 0rem 1rem;
        box-shadow: 0 9px 0 0 #fff, 0 -9px 0 0 #fff,
          7px 0 15px -4px rgba(0, 0, 0, 0.3),
          -7px 0 15px -4px rgba(0, 0, 0, 0.3);

        &__error-message {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1.2rem 2rem;
          background-color: #f8d7da;
          border: 1px solid #f5c6cb;
          border-radius: 0.5rem;
          margin-bottom: 1.5rem;

          &__text {
            color: $home-color-1;
            font-size: 16px;
            font-weight: 700;
          }
          &__icon {
            color: $home-color--27;
            font-size: 2rem;
            font-weight: 700;
            --ionicon-stroke-width: 90px;

            &:hover {
              color: $home-color--20;
            }
          }
        }

        &__select-car-type {
          padding: 0.9rem 4rem 0.9rem 1rem;
          color: #565656;
          margin-bottom: 2rem;
          font-size: 2.4rem;
          font-weight: 700;
          border: 0.2rem solid #efe9e9;
          appearance: none;
          width: 100%;
          background-image: url(../../img/Home/dropdown-icon.png);
          background-repeat: no-repeat;
          background-position: right 20px center;
          cursor: pointer;
          outline: none;
        }

        &__pick-up-location {
          display: flex;
          margin-bottom: 2rem;

          &__label {
            padding: 1.3rem 1.2rem;
            align-items: center;
            font-size: 1.6rem;
            background-color: #efe9e9;
            white-space: nowrap;
            font-weight: 700;
            color: #716d6e;
            box-sizing: border-box;
            display: inline-flex;

            &__icon {
              font-size: 2rem;
            }
          }

          &__select {
            display: block;
            outline: none;
            background-image: url(../../img/Home/dropdown-icon.png);
            background-repeat: no-repeat;
            background-position: right 20px center;
            appearance: none;
            cursor: pointer;
            border: 2px solid #efe9e9;
            font-size: 1.5rem;
            padding-left: 1rem;
            width: 100%;
          }
        }

        &__drop-off-location {
          display: flex;
          margin-bottom: 3rem;

          &__label {
            padding: 1.3rem 1.2rem;
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            background-color: #efe9e9;
            white-space: nowrap;
            font-weight: 700;
            color: #716d6e;
            box-sizing: border-box;

            &__icon {
              font-size: 2rem;
            }
          }

          &__select {
            display: block;
            outline: none;
            background-image: url(../../img/Home/dropdown-icon.png);
            background-repeat: no-repeat;
            background-position: right 20px center;
            appearance: none;
            cursor: pointer;
            border: 2px solid #efe9e9;
            font-size: 1.5rem;
            padding-left: 1rem;
            width: 100%;
          }
        }
      }
    }

    &__slider {
      padding: 1rem;
    }
  }
}
