@use "../abstracts/variables";

//
.banner {
  margin: 0 auto;
  background-color: variables.$home-color--14;
  padding: 6rem 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -3.3rem; /* Adjust the position */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 3.5rem solid transparent;
    border-right: 3.5rem solid transparent;
    border-top: 3.5rem solid variables.$home-color--14; /* Same color as the container */
  }

  &__content {
    margin: 0 auto;
    display: flex;
    max-width: 113rem;
    justify-content: center;
    gap: 4rem;

    &__reservation {
      &__form {
        padding: 4.5rem 3.5rem 4.5rem 3.5rem;
        background-color: white;
        box-shadow: 0 0.9rem 0 0 #fff, 0 -0.9rem 0 0 #fff,
          0.7rem 0 1.5rem -0.4rem rgba(0, 0, 0, 0.3),
          -0.7rem 0 1.5rem -0.4rem rgba(0, 0, 0, 0.3);

        &__error-message {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1.2rem 2rem;
          background-color: #f8d7da;
          border: 0.1rem solid #f5c6cb;
          border-radius: 0.5rem;
          margin-bottom: 1.5rem;
          // display: none;

          &__text {
            color: variables.$home-color-1;
            font-size: 1.4rem;
            font-weight: 700;
          }
          &__icon {
            color: variables.$home-color--27;
            font-size: 2rem;
            font-weight: 700;
            --ionicon-stroke-width: 9rem;

            &:hover {
              color: variables.$home-color--20;
            }
          }
        }

        &__select-car-type {
          padding: 0.9rem 4rem 0.9rem 1rem;
          color: #565656;
          margin-bottom: 2rem;
          font-size: 2.4rem;
          font-weight: 700;
          border: 0.2rem solid #efe9e9;
          appearance: none;
          width: 100%;
          background-image: url(../img/Home/dropdown-icon.png);
          background-repeat: no-repeat;
          background-position: right 2rem center;
          cursor: pointer;
          outline: none;
        }

        &__pick-up-location {
          display: flex;
          margin-bottom: 2rem;

          &__label {
            padding: 1.3rem 1.95rem 1.3rem 1.2rem;
            align-items: center;
            font-size: 1.6rem;
            background-color: #efe9e9;
            white-space: nowrap;
            font-weight: 700;
            color: #716d6e;
            box-sizing: border-box;
            display: inline-flex;

            &__icon {
              font-size: 2rem;
            }
          }

          &__select {
            display: block;
            outline: none;
            background-image: url(../img/Home/dropdown-icon.png);
            background-repeat: no-repeat;
            background-position: right 2rem center;
            appearance: none;
            cursor: pointer;
            border: 0.2rem solid #efe9e9;
            font-size: 1.5rem;
            padding-left: 1rem;
            width: 100%;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-indent: 0;
            padding-right: 3rem;
          }
        }

        &__drop-off-location {
          display: flex;
          margin-bottom: 3rem;

          &__label {
            padding: 1.3rem 1.2rem;
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            background-color: #efe9e9;
            white-space: nowrap;
            font-weight: 700;
            color: #716d6e;
            box-sizing: border-box;

            &__icon {
              font-size: 2rem;
            }
          }

          &__select {
            display: block;
            outline: none;
            background-image: url(../img/Home/dropdown-icon.png);
            background-repeat: no-repeat;
            background-position: right 2rem center;
            appearance: none;
            cursor: pointer;
            border: 0.2rem solid #efe9e9;
            font-size: 1.5rem;
            padding-left: 1rem;
            width: 100%;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-indent: 0;
            padding-right: 3rem;
          }
        }

        &__pick-up-date {
          display: flex;
          gap: 2rem;
          margin-bottom: 2rem;

          &__day {
            display: flex;

            &__label {
              display: flex;
              align-items: center;
              padding: 0.8rem 1.6rem;
              background-color: #efe9e9;
              font-weight: 700;
              font-size: 1.6rem;
              color: #716d6e;
              display: inline-flex;
              gap: 0.2rem;
              white-space: nowrap;

              &__icon {
                font-size: 2rem;
              }
            }

            &__selector {
              border-radius: 0;
              font-size: 1.6rem;
              padding: 0.4rem 0.4rem 0.4rem 1.5rem;
              border: 0.2rem solid #efe9e9;
              background-color: #fff;
              color: #ffbf00;
              padding-left: 1rem;
              width: 100%;
              cursor: pointer;
              outline: none;
              font-weight: 600;
              letter-spacing: -0.1rem;
            }
          }

          &__time-slot {
            padding: 1rem 4rem 1rem 1rem;
            outline: none;
            background-image: url(../img/Home/dropdown-icon.png);
            background-repeat: no-repeat;
            background-position: right 2rem center;
            appearance: none;
            border: 0.2rem solid #efe9e9;
            width: 100%;
            font-size: 1.5rem;
            color: #ffbf00;
            cursor: pointer;
            font-weight: 600;
          }
        }

        &__drop-off-date {
          display: flex;
          gap: 2rem;
          margin-bottom: 4rem;

          &__day {
            display: flex;

            &__label {
              display: flex;
              align-items: center;
              padding: 0.8rem 1.2rem;
              background-color: #efe9e9;
              font-weight: 700;
              font-size: 1.6rem;
              color: #716d6e;
              display: inline-flex;
              gap: 0.2rem;
              white-space: nowrap;

              &__icon {
                font-size: 2rem;
              }
            }

            &__selector {
              border-radius: 0;
              font-size: 1.6rem;
              padding: 0.4rem 0.4rem 0.4rem 1.5rem;
              border: 0.2rem solid #efe9e9;
              background-color: #fff;
              color: #ffbf00;
              padding-left: 1rem;
              width: 100%;
              cursor: pointer;
              outline: none;
              font-weight: 600;
              letter-spacing: -0.1rem;
            }
          }

          &__time-slot {
            padding: 1rem 4rem 1rem 1rem;
            outline: none;
            background-image: url(../img/Home/dropdown-icon.png);
            background-repeat: no-repeat;
            background-position: right 2rem center;
            appearance: none;
            border: 0.2rem solid #efe9e9;
            width: 100%;
            font-size: 1.5rem;
            color: #ffbf00;
            cursor: pointer;
            font-weight: 600;
          }
        }

        &__submit {
          background-color: #ffbf00;
          color: #fff;
          padding: 0.6rem 1.5rem;
          box-shadow: 0.6rem 0.6rem 0 #efe9e9;
          transition: 0.2s;
          border-radius: 0;
          border: none;
          width: 100%;
          font-size: 2.4rem;
          line-height: 1.75em;
          font-weight: bold;
          cursor: pointer;
        }

        &__submit:hover {
          background-color: #716d6e;
        }
      }
    }

    &__slider {
      &__slide__1 {
        &__image {
          max-width: 100%;
        }

        &__title {
          font-size: 3.6rem;
          font-weight: 900;
          color: #fff;
          line-height: 4.5rem;
        }

        &__sub-title {
          font-size: 2.4rem;
          color: #565656;
          font-weight: 400;
          line-height: 4rem;
          margin-bottom: 3rem;
        }
      }

      &__icons {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 2rem;

        &__left-icon,
        &__right-icon {
          display: inline-block;
          font-size: 5rem;
          color: #ffffffe6;
        }
      }
    }
  }
}
