.locations {
  margin-bottom: 8rem;

  &__hover {
    display: flex;
    justify-content: center;
    pointer-events: none;
    &__box {
      background-color: #ffbf00;
      display: inline-block;
      transform: translateY(4.3rem);
      pointer-events: auto;
      z-index: 2;

      &__flex {
        display: flex;
        gap: 5rem;
        align-items: center;
        justify-content: center;
        padding: 1.5rem 1rem;
        width: auto;
        height: auto;

        &__title {
          font-size: 3.5rem;
          font-weight: 600;
          color: #fff;
          text-wrap: nowrap;
        }
        &__form {
          &__location-select {
            padding: 1.1rem 4rem 1.1rem 1rem;
            font-size: 1.8rem;
            outline: none;
            border: none;
            appearance: none;
            color: #716d6e;
            background-image: url(../img/Home/dropdown-icon.png);
            background-repeat: no-repeat;
            background-position: right 2rem center;
            background-color: white;

            &__option {
              font-size: 1.8rem;
              color: #716d6e;
            }
          }
        }
      }
    }
  }
  &__map {
    height: 55rem;
    width: 100%;
    position: relative;
    z-index: 1;
  }
}
