.partner__box {
  background-color: #f9f9f9;

  &__content {
    margin: 0 auto;
    width: 60%;
    padding: 11.5rem 0rem 8rem;

    &__title-box {
      margin: 0 auto;
      margin-bottom: 4rem;

      &__title {
        font-size: 4.6rem;
        font-weight: 900;
        color: #716d6e;
        text-align: center;
      }

      &__divider {
        border: none;
        height: 0.5rem;
        background-color: $home-color--14;
        width: 10%;
        text-align: center;
        display: block;
        margin: 0 auto;
      }
    }

    &__text {
      text-align: center;
      font-size: 1.8rem;
      font-weight: 400;
      margin-bottom: 8rem;
      color: #716d6e;
    }

    &__img-box {
      display: flex;
      gap: 10rem;
      overflow: hidden;

      &__img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
