.header {
  max-width: 113rem;
  margin: 0 auto;
  margin-bottom: 3rem;

  &__visibility {
    padding: 4rem 2rem 0 2rem;
    display: none;
    align-items: center;
    justify-content: space-between;
    &__logo {
      max-width: 40%;
    }
    &__exspand-icon {
      font-size: 4rem;
      color: rgba(0, 0, 0, 0.5);
    }
  }
}
