.banner {
  margin: 0 auto;
  background-color: $home-color--14;
  padding: 6rem 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -3.3rem; /* Adjust the position */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 3.5rem solid transparent;
    border-right: 3.5rem solid transparent;
    border-top: 3.5rem solid $home-color--14; /* Same color as the container */
  }

  &__content {
    margin: 0 auto;
    display: flex;
    max-width: 113rem;
    justify-content: center;
    gap: 4rem;
  }
}
